<form>
    <div class="form-group">
        <label for="name">Product Name:</label>
        <input type="text" class="form-control" name="name" id="name" ng-model="product.name">
    </div>

    <div class="form-group">
        <label for="qoh">Quantity In Stock:</label>
        <input type="text" class="form-control" name="qoh" id="qoh" ng-model="product.qoh">
    </div>

    <div class="form-group">
        <label for="price_per_item">Price Per Item:</label>
        <input type="text" class="form-control" name="price_per_item" id="price_per_item" ng-model="product.price_per_item">
    </div>

    <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
</form>